@font-face {
  font-family: Basement;
  src: url('../static/Basement.otf');
}


*{
  overflow: hidden;
  margin: 0px;
//   background: rgb(255,255,255);
// background:repeating-linear-gradient(45deg, rgba(255,255,255,1) 11%, rgba(0,0,0,1) 26%, rgba(242,42,42,1) 53%, rgba(240,236,11,1) 73%, rgba(11,69,240,1) 93%);
}

#titular{
  font-size: 4em;
  font-family: Basement;
  // text-align: center;
  position: absolute;
  color: rgba(15, 255, 80,1);
  background:  rgba(1,1,1,0);
  // pointer-events: none;
  top: 15%;
  left: 5%;
  // justify-content: center;
  width: auto;
  height: auto;
  z-index: 1;
  cursor: pointer;

}

#made{
  font-size: 2em;
  font-family: Basement;
  // text-align: center;
  position: absolute;
  color: rgba(15, 255, 80,1);
  background:  rgba(0,0,0,0);
  // pointer-events: none;
  top: 65%;
  left: 5%;
  // justify-content: center;
  width: auto;
  height: auto;
  z-index: 1;
  cursor: pointer;

}
